.left-div {
  width: 33.7rem;
  height: 50%;
  display: flex; }
  .left-div .left, .left-div .center, .left-div .right {
    height: 100%; }
  .left-div .left {
    width: 30%;
    height: 100%;
    text-align: center; }
    .left-div .left p.blue {
      text-align: left; }
    .left-div .left p.yaoshi {
      font-size: .46rem; }
    .left-div .left p.yaoShiNum {
      font-size: .92rem; }
    .left-div .left .search {
      display: inline-block;
      position: relative; }
      .left-div .left .search input {
        width: 7.48rem;
        padding-right: 30px; }
      .left-div .left .search img {
        position: absolute;
        bottom: 0;
        right: 5px; }
    .left-div .left #chartP3L1 {
      margin-top: 5px;
      height: calc(100% - 130px); }
  .left-div .center {
    width: 38%; }
    .left-div .center #chartP3L2 {
      width: 100%;
      margin-left: 1%;
      height: calc(100% - 20px); }
  .left-div .right {
    position: relative;
    padding: 5px;
    width: 31%;
    margin-left: 1%;
    height: 100%; }
    .left-div .right p.bottomP {
      position: absolute;
      margin-top: 51%; }
    .left-div .right #chartP3L3, .left-div .right #chartP3L4 {
      height: 47%; }

.right-div {
  display: inline-block;
  width: 16.26rem;
  position: absolute;
  top: calc(2rem + 5px);
  right: 10px;
  height: calc(50% - 5px); }
  .right-div p {
	display:flex;
	justify-content: space-around;
  }
  .right-div p span {
    text-align: center;
    display: inline-block;
    width: 30%;
    font-size: .68rem; }
    .right-div p span.red {
      color: red; }
    .right-div p span.yellow {
      color: yellow; }
    .right-div p span.blue {
      color: blue; }
  .right-div .table-div {
    width: 100%;
    height: calc(100% - 2.2rem); }

.bottom-div {
  display: flex;
  height: 40%;
  margin-top: 10px;
  background-image: url("../images/big_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .bottom-div .per {
    position: relative;
    padding: 5px;
    flex: 1 1 15%; }
    .bottom-div .per:nth-of-type(1) {
      flex: 1 29%; }
    .bottom-div .per .bottom {
      height: calc(100% - .48rem); }
    .bottom-div .per p.qiye {
      text-align: center;
      font-size: .75rem; }
      .bottom-div .per p.qiye span#qiyeNum {
        font-size: .96rem;
        color: #36c6fa; }
    .bottom-div .per .first {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
      height: 80%;
      position: absolute;
      bottom: 0; }
      .bottom-div .per .first .block {
        margin: 0 2%;
        background-image: url("../images/small_bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.3rem;
        padding: 10px;
        width: 40%;
        height: 20%; }
        .bottom-div .per .first .block .border-div {
          display: flex;
          border: 1px solid #004581;
          width: 2.4rem;
          height: 1.1rem;
          vertical-align: center;
          text-align: center;
          justify-content: center;
          align-items: center; }
          .bottom-div .per .first .block .border-div .describe {
            display: inline-block;
            background-color: #004986;
            width: 100%; }
        .bottom-div .per .first .block p.number {
          display: flex;
          align-items: center;
          height: 1.1rem;
          border: 1px solid #19468f;
          margin-left: 1px;
          padding-right: 3px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          .bottom-div .per .first .block p.number span {
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            padding: 0 2px;
            height: .7rem;
            margin: 0 .9px;
            font-size: .4rem;
            background-image: url("../images/number.png");
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }

table {
  border-collapse: collapse;
  border: 1px solid #32a7d6;
  width: 100%;
  height: 100%;
  font-size: .36rem;
  text-align: center; }
  table thead {
    color: #cfd04b;
	font-size: .6rem;
	}
  table tr .column {
    color: #21b5e1; }
  table tr, table td {
    border: 1px solid #1f5e80; }

body{
  font-family: “Microsoft YaHei” ! important;
}