
html,body{
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

div,nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p,span,ul,li,h1 {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
body {
    background-image: url("../images/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li.startM {
    margin-left: 1rem;
    font-family: MicrosoftYaHei;
    color: #71edff;
}
.content{
    height:100%;
}
.right{
    width: 14.6rem;
    height: 65%;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}
.right-top{
    width: 14.6rem;
    height: 50%;
    border: 1px solid #043a68;
    background-image:url("../images/left1.png");
    background-size:14.55rem 100%;
    background-repeat: no-repeat;
}
.right-center{
    width: 14.6rem;
    height: 49%;
    margin-top: 5px;
    border: 1px solid #043a68;
    background-image:url("../images/left1.png");
    background-size:14.55rem 100%;
    background-repeat: no-repeat;
}
.center{
    width: 21rem;
    height: 65%;
    margin-top:20px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}
.center-top{
    width: 21rem;
    height: 100%;
    z-index: 0;
}
.left{
    width: 14.5rem;
    height: 65%;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}
.left-foot{
    width: 14.5rem;
    height: 49%;
    margin-top: 5px;

}
.left-top {
    width: 14.5rem;
    height: 50%;
    border: 1px solid #043a68;
    background-image:url("../images/left1.png");
    background-size:14.45rem 100%;
    background-repeat: no-repeat;
}
.left-center{
    width:  14.5rem;
    height: 49%;
    border: 1px solid #043a68;
    background-image:url("../images/left1.png");
    background-size:14.45rem 100%;
    background-repeat: no-repeat;
}
.left-bottom{
    width:  14.5rem;
    height: 49%;
    margin-top: 5px;
    border: 1px solid #043a68;
    background-image:url("../images/left1.png");
    background-size:14.45rem 100%;
    background-repeat: no-repeat;
}
.foot{
    width:50.85rem;
    height:25%;
    margin-top:5px;
    margin-left:10px;
    float: left;
    border: 1px solid #043a68;
    background-image:url("../images/big_bg.png");
    background-size:50.80rem 100%;
    background-repeat: no-repeat;
}
.right-top {
    position: relative;
}
.top-title{
    width: 14.5rem;
    text-align: center;
    position: relative;
    top: -10px;
}
.title{
    font-size: 0.6rem;
    color:#49d9fe;
}
.num{
    font-size: .6rem;
    color: white;
}
.top-center{
    width: 14.5rem;
    height:80%;
    float: left;
}
.top-content{
    width: 2rem;
    height:15%;
    margin-left: 65px;
    text-align: center;
    display: inline-block;
    font-size: 0.8rem;
    background-color: red;
}
.top-content1{
    font-size: 0.8rem;
    margin-left: 20px;
    color: #3cb7d7;
}
.top-num{
    font-size: 0.8rem;
    color: white;
}
.dw{
    font-size: 0.8rem;
    color: #3cb7d7;
}
.center-1{
    font-size: 0.5rem;
    margin-left: 65px;
    background-color: #3498db;
	border-width:0;
}
.center-2{
    font-size: 0.5rem;
    background-color: #3498db;
	border-width:0;
}
.center-3{
    font-size: 0.5rem;
    background-color: #3498db;
	border-width:0;
}
.center-1:focus {
    background-color:red;
}
.center-2:focus {
    background-color:red;
}
.center-3:focus {
    background-color:red;
}
#P2R1{
    position: relative;
    width: 14.5rem;
    height:80%;
    margin-top:5px;
}

.left-1{
    width: 14.5rem;
    height:15%;
}
.top-text{
    display: block;
    margin-top: 5px;
    font-size: 0.45rem;
    margin-left: 25px;
    color: #3db5d6;
    font-weight: bold;
}
.left-2{
    margin-top:-5px;
    width: 14.5rem;
    height:85%;
}
.left-center-1{
    width: 14.5rem;
    height:82%;
}
.left-center-content{
    width: 5.5rem;
    height:40%;
    margin-top: 5px;
    margin-left: 40px;
    float: left;
    text-align: center;
}
.left-center-text1{
    display: block;
    font-size: 0.6rem;
    margin-top: 8px;
    color: #769ebd;
}
.left-center-text2{
    display: block;
    font-size: 0.7rem;
    margin-top: -2px;
    border:1px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none ;
}
.left-center-1 {
    position: relative;
}
.left-center-1 .title-text {
    color: #7a8e9f;
    font-size: .55rem;
}
.left-center-1 .num-text {
    color: white;
    font-size: .7rem;
}
.left-center-1 .num-right{
    position: absolute;
    right: 0;
}
.left-center-1 .left-div,
.left-center-1 .right-div {
    width: 47%;
    display: inline-block;
}
.left-center-1 .left-div p{
    text-align: center;
    margin: 0 10px;
}
.left-center-1 .right-div p{
    position: relative;
    margin: 2px 0;
    padding-left: 5px;
}
.left-center-1 .left-div p.title-text {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.foot-title{
    width:50.85rem;
    height:15%;
}
.foot-text{
    display: block;
    font-size: 0.45rem;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 5px;
    color: #3db5d6;
}
.biao{
    width:49rem;
    height:82%;
    margin-left: 25px;
    float: left;
}
.text{
    font-size: 0.8rem;
    background-color: #032453;
    text-align: center;
}
table{
    width:100%;
	height:100%;
}
body{
    font-family: “Microsoft YaHei” ! important;
}
.text1{
    font-size: 0.65rem;
    text-align: center;
}
.color{
    color:#1ea5cf;
}
.so{
    width:15rem;
    height:100%;
    margin-left: 1040px;
    margin-top:0px;
}
.so1{
    float: left;
    margin-top: -25px;
    height: 100%;
    width:15rem;
}
.so2{
    float: left;
    margin-top: -25px;
    margin-left:435px;
    height: 100%;
    width:0.5rem;
}
.so3{
    display:block;
    margin-top:-8px;
    margin-left:22px;
    height: 95%;
    width:1rem;
    background-image: url("../images/search.png");
    background-size:0.95rem 100%;
    background-repeat: no-repeat;
    border-width:0;
}
@-webkit-keyframes rotates{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}

.center-top{
    display: inline-block;
    float: left;
    background-image: url("../images/center4.png");
    background-size:20rem 90%;
    background-repeat: no-repeat;
    margin-top: 25px;
}
.left-2 {
    margin-top:20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 80%;
}
.left-2 .block {
    background-image: url("../images/small_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:#011327;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
    padding: 10px;
    width: 50%;
    margin-top: -40px;
    height: 20%; }
.left-2 .block .border-div {
    display: flex;
    border: 1px solid #004581;
    width: 2.4rem;
    height: 1.1rem;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    align-items: center; }
.left-2 .block .border-div .describe {
    display: inline-block;
    background-color: #004986;
    width: 100%;
}
.left-2.block p.number {
    display: flex;
    align-items: center;
    height: 1.1rem;
    border: 1px solid #19468f;
    margin-left: 1px;
    padding-right: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.left-2 .block p.number span {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0 2px;
    height: 0.7rem;
    margin: 0 .9px;
    font-size: .4rem;
    background-image: url("../images/number.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }


.first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 200px;
    height: 180px;
    margin-top: 2rem; }
.top-center {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.first-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/small_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 0.5rem;
    padding: 10px;
    margin: 5px 0;

    height: 50px; }
.first-border-div {
    display: flex;
    border: 1px solid #004581;
    width: 2.4rem;
    height: 1.1rem;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    align-items: center; }
.first-describe {
    display: inline-block;
    background-color: #004986;
    width: 100px; }
.first-number {
    display: flex;
    align-items: center;
    height: 1.1rem;
    border: 1px solid #19468f;
    margin-left: 1px;
    padding-right: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.first-number-span {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0 2px;
    height: .7rem;
    margin: 0 ;
    font-size: .5rem;
    background-image: url("../images/number.png");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.hh{
    display: block;
}
/*.first .block {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-image: url("../images/small_bg.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*font-size: 0.3rem;*/
    /*padding: 10px;*/
    /*width: 100%;*/
    /*height: 50px; }*/
/*.first .block .border-div {*/
    /*display: flex;*/
    /*border: 1px solid #004581;*/
    /*width: 2.4rem;*/
    /*height: 1.1rem;*/
    /*vertical-align: center;*/
    /*text-align: center;*/
    /*justify-content: center;*/
    /*align-items: center; }*/
/*.first .block .border-div .describe {*/
    /*display: inline-block;*/
    /*background-color: #004986;*/
    /*width: 100px; }*/
/*.first .block p.number {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*height: 1.1rem;*/
    /*border: 1px solid #19468f;*/
    /*margin-left: 1px;*/
    /*padding-right: 3px;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box; }*/
/*.first .block p.number span {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*float: left;*/
    /*padding: 0 2px;*/
    /*height: .7rem;*/
    /*margin: 0 .9px;*/
    /*font-size: .4rem;*/
    /*background-image: url("../images/number.png");*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box; }*/
	/*.hh{*/
    /*display: block;*/
/*}*/
    /**/
